@model AllCategoriesViewModel

<div class="list-group">
    @{
        foreach (var category in Model.Categories)
        {
            <a asp-controller="Category" asp-action="GetById"
            asp-route-id="@category.Id" asp-route-categoryName="@category.GetNameUrl()"
            class="list-group-item list-group-item-action fs-2">
                @category.Name
            </a>
        }
    }
</div>