@model AllCategoriesViewModel
@{
    ViewData["Title"] = "Categories";
}
<div class="text-center">
    <div class="row justify-content-between">
        <div class="col-sm-auto">
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
        <div class="col-sm-auto mt-4">
            @{
                if (User.IsTeacher())
                {
                    <a asp-controller="Category" asp-action="CreateCategory" class="btn-link">Add Category</a>
                }
            }
        </div>
    </div>
    <hr/>
    <div class="list-group list-group-flush">
        <ul>
        @{
            foreach (var category in Model.Categories)
            {
                <li class="list-group-item">
                    <div class="fs-2">
                        <a asp-controller="Category" asp-action="GetById" 
                            asp-route-id="@category.Id" asp-route-categoryName="@category.GetNameUrl()" 
                            class="link-dark">
                            @category.Name
                        </a>
                    </div>
                </li>
            }
        }
        </ul>
    </div>
</div>
