@model AllCategoriesViewModel
@{
    ViewData["Title"] = "Categories";
}
<div class="text-center">
    <div class="row justify-content-between">
        <div class="col-sm-auto">
            <h1 class="display-5">@ViewData["Title"]</h1>
        </div>
        <div class="col-sm-auto mt-4">
            @{
                if (User.IsTeacher())
                {
                    <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-dark">Add Category</a>
                }
            }
        </div>
    </div>
    <hr/>
    <partial name="~/Views/Shared/_AllCategoriesPartial.cshtml" model="@Model" />
</div>
