@model AllCategoriesViewModel
@{
    ViewData["Title"] = "All categories";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.IsTeacher())
        {
            <a asp-controller="Category" asp-action="CreateCategory" class="btn-link">Add Category</a>
        }
    }
    <hr/>
    <h3>
            @{
                foreach (var category in Model.Categories)
                {
                    <a asp-controller="Category" asp-action="GetById" 
                        asp-route-id="@category.Id" asp-route-categoryName="@category.GetNameUrl()" 
                        class="link-dark">
                        @category.Name
                    </a>
                    <br />
                }
            }
    </h3>
</div>
