@{
    ViewData["Title"] = "Study Platform Project 2023";
}

<div class="text-center align-content-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <img src="~/books_index_page.png" alt="Books for index page" class="w-150 h-150 m-5 img-fluid"/>
</div>