@model UserAccountViewModel;
@{
    ViewData["Title"] = "Account Profile";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<div class="align-content-center align-items-center">
    <img src="~/study_platform_default_pfp.png" alt="default profile picture" width="200" height="200"/>
    <h3>@Model.UserName</h3>
    <h2>@Model.Role</h2>
    <h1>@($"{Model?.FirstName} {Model?.MiddleName} {Model?.LastName}")</h1>
    <h2>@Model?.Age</h2>
</div>
